.articles {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-bottom: $space-double;

  &--two-cols{
    grid-template-columns: 1fr;
    @include rwd(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--one-col.articles{
    .article {
      &__img {
        @include rwd(tablet) {
          width: 314px;
          height: 314px;
        }
      }
    }
  }

  @include rwd(medium) {
    margin-bottom: $space-quadruple;
  }

  .article {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "header header header header img img"
    "body body body body body body";
    
    @include rwd(tablet) {
      grid-template-areas: 
      "img img header header header header"
      "img img body body body body";
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  
    &__img {
      grid-area: img;
      object-fit: cover;

      @include rwd(tablet) {
        width: 196px;
        height: 196px;
      }
    }
  
    &__header {
      grid-area: header;

      &__title h1 {
        font-style: normal;
        font-weight: bold;
        line-height: 22px;
        font-size: rem(16);

        @include rwd(tablet) {
          line-height: 27px;
          font-size: rem(20);
        }

        color: $black;
        margin-top: 3px;
        margin-bottom: 5px;
      }

      &__credits {
        font-style: normal;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 21px;
        font-size: rem(12);
        color: $button-gray;
        margin-top: 5px;
        margin-bottom: 5px;

        @include rwd(tablet) {
          font-size: rem(13);
        }

        &__author,
        &__date {
          display: inline-block;
        }
      }

      &__tag {
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        font-size: rem(13);
        color: $light-red;
        margin-bottom: 5px;
        margin-left: 0;
      }
    }
  
    &__content {
      grid-area: body;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: rem(16);
      margin-top: 15px;
      color: $mine-shaft;

      @include rwd(tablet) {
        font-size: rem(18);
        margin-top: 0;
      }

      margin-bottom: 0!important;
    }

  }
}
