.content {
  margin-top: $space;
  @include rwd(medium) {
    margin-top: $space-double;
  }
  &--with-sidebar {
    display: flex;
    flex-wrap: wrap;

    & .content {
      &__left {
        max-width: 100%;
        @include rwd(medium) {
          width: 75%;
        }
      }
      &__right {
        // display: none;
        width: 100%;
        max-width: 100%;

        @include rwd(medium) {
          display: block;
          width: 25%;
          padding-left: 40px;
          position: relative;
          box-sizing: border-box;

          &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: calc(100% + ( #{$margin_bottom_single_article} * 3 ));
            background: $semi-white;
          }

          .sidebar__sticky {
            position: sticky;
            top: 30px;
          }
        }
      }
    }
  }
  &--article {
    margin-top: 20px;
    position: relative;
    & .sidebar {
      margin-top: 20px;
      border-bottom: 1px dashed #d1dbe6;
      padding-bottom: 20px;

      @include rwd(medium) {
        border-bottom: none;
      }
    }
  }

  &__share{
    width: 100px;
    margin-right: 132px;
    margin-left: -232px;

    @media screen and (max-width: $content-width-wide+132px) {
      margin-right: 40px;
      margin-left: -140px;
    }

    @media screen and (max-width: $content-width-wide - 40px) {
     display: none;
    }
  }
}
