input{
  &[type=text], &[type=email], &[type=password]{
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 13px 20px;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    box-sizing: border-box;

    @include placeholder{
      color: rgba(0, 0, 0, 0.7);
    }
  }
}


$radio: input-radio;
.#{$radio}{
  user-select: none;

  input[type=radio] {
    display: none;

    &:checked{
      + .#{$radio}__icon{
        &:before{
          display: block;
        }
      }
    }

    &:disabled{
      + .#{$radio}__icon {
        border-color: #d6d6d6;
        &:before{
          background: #d6d6d6;
        }
      }

      ~ .#{$radio}__desc {
        color: #d6d6d6;
      }
    }

  }

  &__desc{
    font-weight: 500;
    font-size: 14px;
    line-height: (19/14);
  }

  &__label{
    display: inline-flex;

    &:focus {
      .#{$radio}__icon {
        border-color: #996152;
      }
    }
  }

  &__icon{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    flex-shrink: 0;
    display: block;
    margin-right: 10px;
    position: relative;
    border:1px solid #000;

    &:before{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $brandy-rose;
      display: none;

      .wp-block-newsletter--colored & {
        background: #000;
      }

    }
  }
}


$checkbox: input-checkbox;
.#{$checkbox} {
  user-select: none;

  input[type=checkbox] {
    display: none;

    &:checked {
      + .#{$checkbox}__icon {
        &:before {
          display: block;
        }
      }
    }

    &:disabled {
      + .#{$checkbox}__icon {
        border-color: #d6d6d6;

        &:before {
          fill: #d6d6d6;
        }
      }

      ~ .#{$checkbox}__desc {
        color: #d6d6d6;
      }
    }

  }

  &__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: (19/14);
  }

  &__label {
    display: inline-flex;

    &:focus {
      .#{$checkbox}__icon {
        border-color: #996152;
      }
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    background: #fff;
    flex-shrink: 0;
    display: block;
    margin-right: 10px;
    position: relative;
    border: 1px solid #000;
    border-radius: 2px;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 8px;
      border-radius: 50%;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACzSURBVHgBfY/BDcIgFIZ5tKknakdgBUdAT950BCfQpjHRC9J40IvaDRxBb95kBLuBXcMeQKCSmB4gIfzAl/e+ByiwbmKVDUn6shmHwJSQqzloEJQXvgMEMxMbwJjB88Tf9uPTtmy6PTYOOvOl1qiy2UAjlos6/hWggySRj8OGRRHOPKSVzseFqG2ObVmtlPSwb60VKifrfeXv0PkI6uHuEe6sKOf/zm4Y4+CErbjbGBb94b6STTcc2+w5AAAAAABJRU5ErkJggg==);
      display: none;

      .wp-block-newsletter--colored & {
        background: #000;
      }

    }
  }
}


.input-toggle {
  position: relative;
  padding-left: 58px;

  label {
    user-select: none;
    font-weight: bold;
    color: #000;
  }

  [type="checkbox"] {
    position: absolute;
    left: -9999px;

    + label {
      font-weight: 500;
      font-size: 14px;
      line-height: (19/14);

      color: #333333;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 42px;
        height: 22px;
        background: #996152;
        border-radius: 11px;
        transition: all 150ms ease-out;
      }

      &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        top: 1px;
        transition: all 150ms ease-out;
        background: #fff;
        left: 21px;
      }
    }

    &:not(:checked) {
      position: absolute;
      left: -9999px;

      + label {
        &:before {
          background: #333;
        }

        &:after {
          background: #fff;
          left: 1px;
        }
      }
    }

    &:disabled{
      + label{
        color: #d6d6d6;

        &:before {
          background: #d6d6d6;
        }
      }
    }
  }
}
