{% extends "layouts::base.twig" %}

{% block content %}
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="container">

        <h1>Quotes</h1>

        {% include "blocks/quotes/quote-bg.twig" with {
          img: "quote/hoan-vo-789842-unsplash.jpg",
          quote: "You can design and create, and build the most beautiful place in the word. But it takes people to make the dream a reality.",
          cite: "H. Mendes"
        } %}

        <br>
        <br>
        <br>

      </div>

    </main><!-- #main -->
  </div><!-- #primary -->
{% endblock %}