{% block html_head_container %}
  {% include '../components/html-header.twig' %}
{% block head %} {% endblock %}
</head>
{% endblock %}

<body class="" data-template="base.twig">
  <a class="skip-link visuallyhidden focusable" href="#site-content">Skip to content</a>
  {# {% include 'header.twig' %} #}

  <div id="site-content" class="site-content">
    {% block content %} {% endblock %}
  </div>

  <footer id="colophon" class="site-footer" role="contentinfo">
    {% block footer %}
      {% include '../components/footer.twig' %}
    {% endblock %}
  </footer><!-- #colophon -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>