

<div class="row-space-small"><a  href="http://testlenke.no" class="btn ">Basic button</a></div>
<div class="row-space-small"><input value="Input button" type="submit" href="http://testlenke.no" class="btn "></input></div>
<div class="row-space-small"><button  href="http://testlenke.no" class="btn btn--black">Tag button</button></div>
<div class="row-space-small"><button  href="http://testlenke.no" class="btn btn--white">Tag button</button></div>
<div class="row-space-small"><button  href="http://testlenke.no" class="btn btn--rounded">Tag button</button></div>
<div class="row-space-small"><button  href="http://testlenke.no" class="btn tag-cloud-link">Tag button</button></div>
<div class="row-space-small"><button  href="http://testlenke.no" class="btn tag-cloud-link is-active">Tag button</button></div>
