

<div class="row-space-small"><label class="" for="text_input">
  <input
    type="text"
    class="__field"
    name="text-input"
    id="text_input"
    placeholder="Text input placeholder "
    
  >
  </label></div>
<div class="row-space-small"><label class="styled-input" for="text_input">
  <input
    type="text"
    class="styled-input__field"
    name="text-input"
    id="text_input"
    placeholder=" "
    required
  >
      <span class="styled-input__placeholder">Styled placeholder text input</span>
  </label></div>
<div class="row-space-small"><label class="" for="text_input">
  <input
    type="text"
    class="__field"
    name="text-input"
    id="text_input"
    placeholder="Text input placeholder "
    disabled="disabled"
  >
  </label></div>
