<section class="wp-block-cloudblocks-factbox wp-block-cloudblocks-factbox--icon alignwide">
  <div class="factbox row columns-2">
    <div class="factbox__image">
      <figure class="factbox__icon">
        <img src="img/{{ img }}" alt="">
      </figure>
    </div>
    <div class="factbox__text">
      <h1 class="factbox__title">{{ title }}</h1>
      <p>{{ desc }}</p>
    </div>
  </div>
</section>