<form class="search-field__form">
  <div class="input-submit">
    <label class="styled-input" for="styled-input__search">
      <input id="styled-input__search" class="styled-input__field" type="text" name="search" required>
      <span class="styled-input__placeholder">Type to search:</span>
    </label>
    <button type="submit" class="button">
      <svg class="icon search-arrow" width="20" height="12">
        <use xlink:href="build/spritemap.svg#search-arrow"></use>
      </svg>
    </button>
  </div>
</form>