{% extends "layouts::base.twig" %}

{% block content %}
  <div id="primary" class="content-area container">
    <main id="main" class="site-main" role="main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">home</a>
        </li>
        <li class="breadcrumbs__item">blog</li>
      </ul>

      <header class="entry-header">
        <h1 class="entry-title title title--page">Blog</h1>
      </header><!-- .entry-header -->

      <hr class="wp-block-separator is-style-wide">

      <div class="content">
        <div class="entry-content">
          <div class="articles articles--two-cols">

            {% set articles = [
              {
                "img": "blog-article-list/Rectangle2.11.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Coal",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft..."
              },
              {
                "img": "blog-article-list/Rectangle2.14.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Photography",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face..."
              },
              {
                "img": "blog-article-list/Rectangle2.16.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Lifestyle",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft..."
              },
              {
                "img": "blog-article-list/Rectangle2.18.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Art",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face..."
              },
              {
                "img": "blog-article-list/Rectangle2.20.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Water",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft..."
              },
              {
                "img": "blog-article-list/Rectangle2.22.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Photography",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face..."
              },
              {
                "img": "blog-article-list/Rectangle2.24.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Life",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft..."
              },
              {
                "img": "blog-article-list/Rectangle2.26.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Nature",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face..."
              },
              ] %}
            {% for article in articles %}
              {% include "teasers/article-teaser.twig" with article %}
            {% endfor %}

            <div class="article articles__item">
                <img class="article__img" src="./img/blog-article-list/Rectangle2.14.jpg" alt="article img">
                <div class="article__info">
                  <hr class="wp-block-separator is-short no-margin-top no-margin-left">
                  <div class="article__info__tag">
                    <a href="#">Photography</a>
                  </div>
                  <div class="article__wrapper">
                    <div class="article__text-wrapper">
                      <a href="#" class="article__info__title">Coal a combustible sedimentary rock formed in coal seams
                      </a>
                      <div class="article__info__credits">
                        by
                        <span class="article__info__author">JOHN DOE</span>
                        |
                        <span class="article__info__date">FEBRUARY 18, 2019</span>
                      </div>
                    </div>
                    <div class="article__mobile-img">
                      <img class="article__img" src="./img/blog-article-list/Rectangle2.14.jpg" alt="article img">
                    </div>
                  </div>
                  <div class="article__info__content">
                    A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in
                    which the face...
                  </div>
                </div>
              </div>
              
          </div>

          {% include "components/pagination.twig" %}
        </div><!-- .entry-content -->
      </div>

    </main><!-- #main -->
  </div><!-- #primary -->
{% endblock %}