{% extends "layouts::base.twig" %}

{% block content %}
  <div id="primary" class="content-area container">
    <main id="main" class="site-main" role="main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">home</a>
        </li>
        <li class="breadcrumbs__item">blog</li>
      </ul>

      <header class="entry-header">
        <h1 class="entry-title title title--page">Blog</h1>
      </header><!-- .entry-header -->

      <hr class="wp-block-separator is-style-wide">

      <div class="content">
        <div class="entry-content">
          <div class="articles articles--two-cols">

            {% set articles = [
              {
                "img": "blog-article-list/Rectangle2.11.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Coal",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft..."
              },
              {
                "img": "blog-article-list/Rectangle2.14.jpg",
                "title": "Lorem ipsum dolor sit amet",
                "author": "Foad Yousefi",
                "category": "Photography",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face..."
              },
              {
                "img": "blog-article-list/Rectangle2.16.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "Kari Nordmann",
                "category": "Lifestyle",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft..."
              },
              {
                "img": "blog-article-list/Rectangle2.18.jpg",
                "title": "Phasellus viverra nulla ut metus",
                "author": "Ola Nordmann",
                "category": "Art",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Maecenas malesuada. Vivamus in erat ut urna cursus vestibulum. Maecenas malesuada."
              },
              {
                "img": "blog-article-list/Rectangle2.20.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN Ola Nordmann",
                "category": "Water",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Fusce fermentum. Praesent egestas neque eu enim. Phasellus viverra nulla ut metus varius laoreet. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo."
              },
              {
                "img": "blog-article-list/Rectangle2.22.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Photography",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face..."
              },
              {
                "img": "blog-article-list/Rectangle2.24.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Life",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "Are we in agreeance programmatically we want to empower the team with the right tools and guidance to uplevel our craft..."
              },
              {
                "img": "blog-article-list/Rectangle2.26.jpg",
                "title": "Coal a combustible sedimentary rock formed in coal seams",
                "author": "JOHN DOE",
                "category": "Nature",
                "date": "FEBRUARY 18, 2019",
                "excerpt": "A portrait is a painting, photograph, sculpture, or other artistic representation of a person, in which the face..."
              },
              ] %}
            {% for article in articles %}
              {% include "teasers/article-teaser.twig" with article %}
            {% endfor %}

          </div>

          {% include "components/pagination.twig" %}
        </div><!-- .entry-content -->
      </div>

    </main><!-- #main -->
  </div><!-- #primary -->
{% endblock %}