{% extends "layouts::base.twig" %}

{% block content %}
<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="container">

        <div class="entry-content">

          <h1>Fact box</h1>

          {% include "blocks/fact-box.twig" with {
            img: "fact.svg",
            title: "7% of American adults believe that chocolate milk comes from brown cows.",
            desc: "If 7% doesn’t sound like a lot, know that it is actually 16.4 million people."
          } %}
          
          <br><br><br>
          <h1>Fact box - Photo case</h1>
          
          {% include "blocks/fact-box.twig" with {
            img: "factbox/pexels-photo-302899.jpeg",
            title: "7% of American adults believe that chocolate milk comes from brown cows.",
            desc: "If 7% doesn’t sound like a lot, know that it is actually 16.4 million people."
          } %}

          <br><br><br>

        </div>

      </div>
    </main><!-- #main -->
  </div><!-- #primary -->
{% endblock %}