{% extends "layouts::base.twig" %}

{% block content %}
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <div class="container">

        <div class="entry-content">

          <h1 class="h1">FAQ's</h1>

          <div class="wp-block-cloudblocks-g-section pv-small">
            <div class="g-section-wrapper">
              <div class="wp-block-columns has-2-columns">
                <div class="wp-block-column">
                  <h3>Do you have question about our work or any other related subject?</h3>

                  <hr class="wp-block-separator wp-block-separator--short">

                  <div class="faq-contact">
                    <div class="faq-contact__label">CONTACT US ANYTIME:</div>
                    <a href="mailto:hello@startertheme.no">hello@startertheme.no</a>
                  </div>
                </div>

                <div class="wp-block-column">
                  <div class="wp-block-cloudblocks-accordion js-wp-block-cloudblocks-accordion save" data-collapse-on-change="false">
                    <ul class="accordion">
                      <li class="accordion__item accordion__item--open">
                        <div class="accordion__item-title-wrapper"><h4 class="accordion__item-title">Spørsmål: Kan jeg
                          bygge bod uten å søke ombyggetillatelse ?</h4>
                          <button class="accordion__item-toggle-button">Close</button>
                        </div>
                        <div class="accordion__item-content" aria-expanded="true"><p>Det avhenger av bodens størrelse.
                          Bod er ikke søknadspliktig dersom den ikke har BRA eller BYA over 15 kvm. Mønehøyde kan være
                          inntil 3,0 m og gesimshøyde inntil 2,5 m. Avstand til annen bygning på eiendommen skal ikke
                          være mindre enn 1,0 m. Boden kan ikke brukes til beboelse. Det er likevel et krav om at
                          bygningen ikke må være i strid med regler gitt i eller med hjemmel i Plan- og Bygnignsloven.
                          Du bør derfor bla sjekke gjeldende reguleringsplan. Er du i tvil så kontakt kommunen for
                          bistand.</p></div>
                      </li>
                      <li class="accordion__item">
                        <div class="accordion__item-title-wrapper"><h4 class="accordion__item-title">Kan jeg bygge
                          leilighet i andre etasje på garasjen?</h4>
                          <button class="accordion__item-toggle-button">Open</button>
                        </div>
                        <div class="accordion__item-content" aria-expanded="false"><p>Dette avhenger av mange faktorer.
                          Du skal uansett være klar over at dette vil gjøre tiltaket avhengig av ansvarsretter for alle
                          fagområder. Du kan altså som privatperson ikke lenger stå ansvarlig for byggesøknaden. En del
                          kommuner har begrensninger i planverket for denne type tiltak.</p></div>
                      </li>
                      <li class="accordion__item">
                        <div class="accordion__item-title-wrapper"><h4 class="accordion__item-title"> Kan jeg stå
                          ansvarlig for bygging av mitt eget hus?</h4>
                          <button class="accordion__item-toggle-button">Open</button>
                        </div>
                        <div class="accordion__item-content" aria-expanded="false"><p>JA! Dette er en mulighet loven
                          åpner for. Selvbyggerprinsippet står sterk i Norge og er derfor medtatt i loven. Det er
                          likevel krav til at man må kunne dokumentere kvalifikasjoner som tilsier at lovens krav vil
                          bli oppfyllt. Vær også oppmerksom på at dette begrenser seg til egen enebolig med
                          sekundærleilighet og egen fritidsbolig.</p></div>
                      </li>
                      <li class="accordion__item">
                        <div class="accordion__item-title-wrapper"><h4 class="accordion__item-title">Hvor kan jeg finne
                          ut hva jeg kan bygge på tomten min?</h4>
                          <button class="accordion__item-toggle-button">Open</button>
                        </div>
                        <div class="accordion__item-content" aria-expanded="false"><p>Gjeldende reguleringsplan for
                          området setter ofte premissene for hva som kan bygges. Dersom eiendommen ikke er regulert vil
                          Kommuneplanens arealdel være den som angir rammen for eiendommen. Mange kommuner har både
                          reguerlingsplaner og kommuneplaner tilgjengelig digital på sine nettsider.</p></div>
                      </li>
                      <li class="accordion__item">
                        <div class="accordion__item-title-wrapper"><h4 class="accordion__item-title">Kan jeg bygge bod
                          uten å søke om byggetillatelse ?</h4>
                          <button class="accordion__item-toggle-button">Open</button>
                        </div>
                        <div class="accordion__item-content" aria-expanded="false"><p>Det avhenger av bodens størrelse.
                          Bod er ikke søknadspliktig dersom den ikke har BRA eller BYA over 15 kvm. Mønehøyde kan være
                          inntil 3,0 m og gesimshøyde inntil 2,5 m. Avstand til annen bygning på eiendommen skal ikke
                          være mindre enn 1,0 m. Boden kan ikke brukes til beboelse. Det er likevel et krav om at
                          bygningen ikke må være i strid med regler gitt i eller med hjemmel i Plan- og Bygnignsloven.
                          Du bør derfor bla sjekke gjeldende reguleringsplan. Er du i tvil så kontakt kommunen for
                          bistand.</p></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </main><!-- #main -->
  </div><!-- #primary -->
{% endblock %}