{% extends "layouts::base.twig" %}

{% block content %}
    
<div id="content" class="site-content">
    <div id="primary" class="content-area">
      <main id="main" class="site-main" role="main">
  
        {% include 'blocks/hero/hero-center.twig' %}

        {% include 'blocks/image-text.twig' %}
  
        <div class="alignwide">
          <ul class="wp-block-gallery columns-4 is-cropped">
            <li class="blocks-gallery-item">
              <figure>
                <a href="img/gallery/Rectangle2.3.jpg">
                  <img src="img/gallery/Rectangle2.3.jpg" alt="gallery-item">
                </a>
              </figure>
            </li>
            <li class="blocks-gallery-item">
              <figure>
                <a href="img/gallery/Rectangle2.4.jpg">
                  <img src="img/gallery/Rectangle2.4.jpg" alt="gallery-item">
                </a>
              </figure>
            </li>
            <li class="blocks-gallery-item">
              <figure>
                <a href="img/gallery/Rectangle2.5.jpg">
                  <img src="img/gallery/Rectangle2.5.jpg" alt="gallery-item">
                </a>
              </figure>
            </li>
            <li class="blocks-gallery-item">
              <figure>
                <a href="img/gallery/Rectangle2.6.jpg">
                  <img src="img/gallery/Rectangle2.6.jpg" alt="gallery-item">
                </a>
              </figure>
            </li>
          </ul>
        </div>
  
          <div class="alignwide">
            <div class="wp-block-cloudblocks-section-row-cell section-row-cell" style="max-width:905px; margin: 0 auto;">
              <h1>Coal is a combustible black or brownish-black sedimentary rock, formed as rock strata
                called coal seams.</h1>
              <p>Anti-pattern. Baseline the procedure and samepage your department pixel pushing can I just chime in on
                that one, so face time, and we need to
                <a href="#">harvest synergy</a> effects nor drill down, and sacred cow. Gain
                traction get all your ducks in a row. Get buy-in. Globalize cross functional teams enable out of the box
                brainstorming and baseline the procedure and samepage your department. Circle back baseline drill down can
                we take this offline, nor we need to have a Come to Jesus meeting with Phil about his attitude, or i don't
                want to drain the whole swamp, i just want to shoot some alligators. Dogpile that. Hammer out low-hanging
                fruit nor nobody's fault it could have been managed better or it's about managing expectations data-point
                criticality define the underlying principles that drive decisions and strategy for your design language.
                Game plan thought shower peel the onion nail jelly to the hothouse wall design thinking, on this journey
                new economy. Quarterly sales are at an all-time low design thinking. Blue money time vampire yet we need
                to start advertising on social media.
              </p>
  
              <ul>
                <li>A static website stores a unique file for every page of a static website.</li>
                <li>Each time that page is requested, the same content is returned.</li>
                <li>This content is created once, during the design of the website.</li>
                <li>It is usually manually authored, although some sites use an automated creation process.</li>
              </ul>
  
              <table>
                <tr>
                  <th>Column 1</th>
                  <th>Column 2</th>
                  <th>Column 3</th>
                  <th>Column 4</th>
                </tr>
  
                <tr>
                  <td>Item #1</td>
                  <td>Description</td>
                  <td>Discount</td>
                  <td>Discount</td>
                </tr>
                <tr>
                  <td>Item #1</td>
                  <td>Description</td>
                  <td>Discount</td>
                  <td>Discount</td>
                </tr>
  
                <tr>
                  <td>All items</td>
                  <td>Description</td>
                  <td>Your Total</td>
                  <td>Your Total</td>
                </tr>
              </table>
  
            </div>
          </div>
  
          <div class="wp-block-starterx-cards alignwide">
            <div class="row columns-3">
              {% set cards = [
                {
                  "img": "card/Rectangle2.4.jpg",
                  "title": "One line title #1"
                },
                {
                  "img": "card/Rectangle2.6.jpg",
                  "title": "One line title #2"
                },
                {
                  "img": "card/Rectangle2.8.jpg",
                  "title": "One line title #3"
                },
                ] %}
              {% for card in cards %}
                {% include "blocks/cards/card-border.twig" with card %}
              {% endfor %}
              
            </div>
          </div>
  
        <br><br><br><br>
        
        {% include "blocks/newsletter-form.twig" %}
  
      </main><!-- #main -->
    </div><!-- #primary -->
  </div><!-- #content -->  
    
{% endblock %}