{% extends "layouts::base.twig" %}

{% block content %}
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <article id="post-123" class="post-123 page type-page status-publish hentry">
        <header class="entry-header alignwide">
          <h1 class="entry-title">Styleguide</h1>
        </header><!-- .entry-header -->

        <div class="entry-content">

          <div class="wp-block-cloudblocks-section-row  alignfull justify-content-center">
            <div class="wp-block-cloudblocks-section-row-inner-one-column save  wide">
              <div class="wp-block-cloudblocks-section-row-cell section-row-cell"
                  style="max-width:768px;justify-self:center">
                <h6>Typography</h6>

                <hr class="wp-block-separator is-style-wide">

                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>

                <h4>Lead - Hero section Intro Text Build a unique website by selecting and customizing blocks. Pick
                  blocks from a repository and make them your own.</h4>

                <p>A static website stores a unique file for every page of a static website. Each time that page is
                  requested, the same content is returned. This content is created once, during the design of the
                  website. It is usually manually authored, although some sites use an automated creation process...</p>

                <p>
                  <a href="https://testlenke.no/">This is a link﻿</a>
                </p>

                <h6>Buttons</h6>

                <hr class="wp-block-separator is-style-wide">

                <div class="wp-block-columns has-3-columns">

                  <div class="wp-block-column">
                    <div class="wp-block-button aligncenter">
                      {% include "blocks/buttons/btn.twig" with {
                        button_class: "btn--black"
                      } %}
                    </div>
                  </div>

                  <div class="wp-block-column">
                    <div class="wp-block-button aligncenter">
                      {% include "blocks/buttons/btn.twig" %}
                    </div>
                  </div>

                  <div class="wp-block-column">
                    <div class="wp-block-button aligncenter">
                      {% include "blocks/buttons/btn.twig" with {
                        button_class: "btn--white"
                      } %}
                    </div>
                  </div>
                </div>

                <h6>Alternative buttons</h6>

                <hr class="wp-block-separator is-style-wide">

                <div class="wp-block-columns has-3-columns">
                  <div class="wp-block-column">
                    <div class="wp-block-button aligncenter">
                      {% include "blocks/buttons/btn.twig" with {
                        button_class: "btn--black btn--rounded"
                      } %}
                    </div>
                  </div>
                  
                  <div class="wp-block-column">
                    <div class="wp-block-button aligncenter">
                      {% include "blocks/buttons/btn.twig" with {
                        button_class: "btn--rounded"
                      } %}
                      </a>
                    </div>
                  </div>

                  <div class="wp-block-column">
                    <div class="wp-block-button aligncenter">
                      {% include "blocks/buttons/btn.twig" with {
                        button_class: "btn--white btn--rounded"
                      } %}
                    </div>
                  </div>
                </div>


                <h6>Lists</h6>

                <hr class="wp-block-separator is-style-wide">

                <ul>
                  <li>A static website stores a unique file for every page of a static website.</li>
                  <li>Each time that page is requested, the same content is returned.</li>
                  <li>This content is created once, during the design of the website.</li>
                  <li>It is usually manually authored, although some sites use an automated creation
                    process.
                  </li>
                </ul>

                <ol>
                  <li>A static website stores a unique file for every page of a static website.</li>
                  <li>Each time that page is requested, the same content is returned.</li>
                  <li>This content is created once, during the design of the website.</li>
                  <li>It is usually manually authored, although some sites use an automated creation
                    process.
                  </li>
                </ol>

                <h6>Tables</h6>

                <hr class="wp-block-separator is-style-wide">

                {% include "blocks/table.twig" %}

                <h6>Pull Quote &amp; Quote</h6>
                <hr class="wp-block-separator is-style-wide">

                {% include "blocks/quotes/blockquote.twig" with {
                  class: "wp-block-quote",
                  quote: "A static website stores a unique file for every<strong>page of a static website</strong>. Each time that page is requested, the same content is returned. This content is created once, during the <strong>design of the website</strong>.",
                  cite: "H.Mendes"
                } %}

                <figure class="wp-block-pullquote">
                  {% include "blocks/quotes/blockquote.twig" with {
                    class: "",
                    quote: "A static website stores a unique file for every<strong>page of a static website</strong>. Each time that page is requested, the same content is returned. This content is created once, during the <strong>design of the website</strong>.",
                    cite: "H.Mendes"
                  } %}
                </figure>

                {% include "blocks/quotes/blockquote.twig" with {
                  class: "wp-block-quote-light",
                  quote: "Financial Secrecy and the impact of investigative journalism and cross-border collaboration on the public understanding of illicit financial flows."
                } %}

                {% include "blocks/quotes/blockquote.twig" with {
                  class: "wp-block-quote-black",
                  quote: "Financial Secrecy and the impact of investigative journalism and cross-border collaboration on the public understanding of illicit financial flows.",
                  cite: "H.Mendes"
                } %}

                <br><br><br>

                <h6>Radio btn / Check Boxes / Toggles</h6>

                <hr class="wp-block-separator is-style-wide">

                <br>

                <div class="wp-block-columns has-4-columns">
                  <div class="wp-block-column">
                    {% include "blocks/form/radio.twig" with {
                      label: "Fish market",
                      name: "radio1",
                      value: "radio_val1"
                    } %}
                  </div>

                  <div class="wp-block-column">
                    {% include "blocks/form/radio.twig" with {
                      label: "Bakalaw market",
                      name: "radio1",
                      value: "radio_val2"
                    } %}
                  </div>

                  <div class="wp-block-column">
                    {% include "blocks/form/radio.twig" with {
                      label: "Cat market",
                      name: "radio1",
                      value: "radio_val3",
                      checked: true
                    } %}
                  </div>

                  <div class="wp-block-column">
                    {% include "blocks/form/radio.twig" with {
                      label: "Dog market",
                      name: "radio2",
                      value: "radio_val22",
                      checked: true,
                      disabled: true
                    } %}
                  </div>
                </div>

                <br>

                <div class="wp-block-columns has-4-columns">
                  <div class="wp-block-column">
                    {% include "blocks/form/checkbox.twig" with {
                      label: "Fish market",
                      name: "checkbox1",
                      value: "checkbox_val1",
                    } %}
                  </div>

                  <div class="wp-block-column">
                    {% include "blocks/form/checkbox.twig" with {
                      label: "Fish market",
                      name: "checkbox1",
                      value: "checkbox_val2",
                    } %}
                  </div>

                  <div class="wp-block-column">
                    {% include "blocks/form/checkbox.twig" with {
                      label: "Fish market",
                      name: "checkbox1",
                      value: "checkbox_val3",
                      checked: true
                    } %}
                  </div>

                  <div class="wp-block-column">
                    {% include "blocks/form/checkbox.twig" with {
                      label: "Fish market",
                      name: "checkbox2",
                      value: "checkbox_val22",
                      checked: true,
                      disabled: true
                    } %}
                  </div>
                </div>

                <br>

                <div class="wp-block-columns has-4-columns">
                  <div class="wp-block-column">
                    {% include "blocks/form/toggle.twig" with {
                      label: "Active",
                      id: "status1",
                      name: "toggle1",
                      value: "1",
                      checked: true
                    } %}
                  </div>
                  <div class="wp-block-column">
                    {% include "blocks/form/toggle.twig" with {
                      label: "Inactive",
                      id: "status2",
                      name: "toggle2",
                      value: "0",
                    } %}
                  </div>
                  <div class="wp-block-column">
                    {% include "blocks/form/toggle.twig" with {
                      label: "Disabled",
                      id: "status3",
                      name: "toggle3",
                      value: "0",
                      disabled: true
                    } %}
                  </div>
                  <div class="wp-block-column"></div>
                </div>

                <br><br><br><br>

                <h6>Pagination</h6>
                <hr class="wp-block-separator is-style-wide">

                {% include "components/pagination.twig" %}

                <h6>Text inputs</h6>
                <hr class="wp-block-separator is-style-wide">

                <br>

                <div>
                  {% include "blocks/form/text-input.twig" with {
                    id: "input-email",
                    type: "text",
                    placeholder: "E-mail address"
                  } %}
                </div>

                <br>

                <div>
                  {% include "blocks/form/text-input.twig" with {
                    id: "input-email-dis",
                    type: "email",
                    placeholder: "E-mail address",
                    disabled: true
                  } %}
                </div>

                <br>

                <div class="input-submit">
                  {% include "blocks/form/text-input.twig" with {
                    id: "styled-input__search",
                    type: "text",
                    name: "search",
                    styled_placeholder: "Type to search:",
                    class: "styled-input",
                    required: true
                  } %}
                  <button type="submit">
                    <svg class="icon search-arrow" width="20" height="12">
                      <use xlink:href="spritemap.svg#search-arrow"></use>
                    </svg>
                  </button>
                </div>


                <br>


                {% include "blocks/form/text-input.twig" with {
                  id: "styled-input__search",
                  type: "text",
                  name: "search",
                  styled_placeholder: "Type to search:",
                  class: "styled-input",
                  required: true
                } %}

                <br>



                <h6>Tags</h6>
                <hr class="wp-block-separator is-style-wide">

                <div class="tag-cloud-links tag-cloud-links--inside-article">
                  <div class="tag-cloud-links__items">
                    <div class="tag-cloud-link is-active">
                      Coal
                    </div>
                    <div class="tag-cloud-link">
                      nature
                    </div>
                    <div class="tag-cloud-link">
                      photography
                    </div>
                    <div class="tag-cloud-link">
                      rocks-gems-dark
                    </div>
                    <div class="tag-cloud-link">
                      black&white
                    </div>
                    <div class="tag-cloud-link">
                      people
                    </div>
                  </div>
                </div>

                <br>
                <br>
                <br>


                <div>

                </div>

              </div>
            </div>
          </div>


        </div><!-- .entry-content -->
      </article><!-- #post-## -->

    </main><!-- #main -->
  </div><!-- #primary -->
{% endblock %}