<div class="wp-block-cloudblocks-hero-section undefined alignfull" style="background-color:black;background-image:url('img/hero/abhishek-sanwa-limbu-782224-unsplash.jpg')">
  <div class="bg-overlay" style="display:block;opacity:0.3"></div>
  <div class="container">
    <section style="max-width:760px; margin:0 auto; text-align: center;">
      <h2 style="font-size:38px; line-height: 1.34; color:#fff;">Starter theme, the buiding blocks for a<br>unique
        and professional website.</h2>

      <p style="color:#fff;font-size:20px; line-height: 27px; margin-bottom: 45px;" class="has-text-color"> Build a unique website by selecting and
        customizing blocks. Pick blocks from a
        <a href="http://#">repository</a>
        and make them your own.
      </p>

      <div class="wp-block-button">
        <a class="btn btn--bigger btn--big-font" href="https://github.com/front/gutenberg-js">The
          Starter Theme
        </a>
      </div>
    </section>
  </div>
</div>