<div style="background-image:url('img/{{ img }}')" class="wp-block-starterx-quote-background alignwide">
  <blockquote>
    <div class="quote">
      <span class="quote__icon">
      <svg class="icon" width="32" height="30">
        <use xlink:href="build/spritemap.svg#apostrophes"></use>
      </svg>
    </span>
      <div class="quote__text">
        <p>{{ quote }}</p>
        <cite>— {{ author }}</cite>
      </div>
    </div>
  </blockquote>
</div>