<div class="wp-block-starterx-cards-item card">
  <figure class="card__image">
    <img alt="" src="img/{{ card.img }}"></figure>
  <h3 class="card__title">{{ card.title }}</h3>
  <p class="card__desc">Such a collection of useful, related resources, interconnected via hypertext links
    is dubbed a web of information.</p>
</div>