<label class="input-checkbox input-checkbox__label">
  <input
    type="checkbox"
    name="{{ name }}"
    value="{{ value }}"
    {{ attr }}
  >
  <span class="input-checkbox__icon"></span>
  <span class="input-checkbox__desc">{{ label }}</span>
</label>
