<label class="input-radio input-radio__label">
  <input
    type="radio"
    name="{{ name }}"
    value="{{ value }}"
    {{ attr }}
  >
  <span class="input-radio__icon"></span>
  <span class="input-radio__desc">{{ label }}</span>
</label>
