<div class="container alignwide">
  <div class="row columns-4 column-gap-medium">
    <div>
      <section id="media_image-2" class="widget widget_media_image">
        <img width="68" height="91" src="../../img/logo_gray.png" class="image wp-image-128  attachment-full size-full"
          alt="" style="max-width: 100%; height: auto;" alt="footer logo">

      </section>
      <section id="text-2" class="widget widget_text">
        <div class="textwidget">
          <p>Torvgaten 64, <br>
            1632 Gamle Fredrikstad <br>
            Norway</p>
        </div>
        <div class="site-info copyright">
          © Startertheme 2019
        </div><!-- .site-info -->
      </section>
      <section id="nav_menu-5" class="widget widget_nav_menu">
        <div class="menu-social-menu-container">
          <ul id="menu-social-menu" class="menu">
            <li id="menu-item-135"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-social youtube menu-item-135">
              <a href="http://youtu.be"><i class="fa-2x fa fa-youtube"></i>
                <span class="social-network-name screen-reader-text">YouTube</span>
              </a>
            </li>
            <li id="menu-item-137"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-social facebook menu-item-137">
              <a href="http://facebook.com"><i class="fa-2x fa fa-facebook"></i>
                <span class="social-network-name screen-reader-text">Facebook</span>
              </a>
            </li>
            <li id="menu-item-138"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-social twitter menu-item-138">
              <a href="http://twitter.com"><i class="fa-2x fa fa-twitter"></i>
                <span class="social-network-name screen-reader-text">Twitter</span>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div>
      <section id="nav_menu-2" class="widget widget_nav_menu">
        <h2 class="widget__title">Features</h2>
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu" class="menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Video</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Slider</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Blog options</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div>
      <section id="nav_menu-3" class="widget widget_nav_menu">
        <h2 class="widget__title">Pages</h2>
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu-1" class="menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Full width</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Blank page</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">404 page</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Search results page</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div>
      <section id="nav_menu-4" class="widget widget_nav_menu">
        <h2 class="widget__title">Elements</h2>
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu-2" class="menu">
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Buttons</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Gallery</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Images</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Media</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Separators & Dividers</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Tables</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-133">
              <a href="#">Tabs</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>