<header class="header">
  <div class="site-navigation">
    <nav class="header-menu top-menu">
      <div class="menu">
        <ul class="menu-item">
          <li class="">
            <a href="">
              <span>About Us</span>
            </a>
          </li>
          <li class="">
            <a href="">
              <span>FAQ</span>
            </a>
          </li>
          <li class="">
            <a href="">
              <span>Blog</span>
            </a>
          </li>
        </ul>
        <div class="menu-item social-menu">
            <a class="social-menu__item" href="#">
              <span><img src="img/header/menu/youtube.svg" alt="youtube logo"></span>
            </a>
            <a class="social-menu__item" href="#">
              <span><img src="img/header/menu/facebook.svg" alt="facebook logo"></span>
            </a>
            <a class="social-menu__item" href="#">
              <span><img src="img/header/menu/twitter.svg" alt="twitter logo"></span>
            </a>
        </div>
      </div>
    </nav>
    <div class="header-menu main-menu">
      <div class="menu">
        <div class="header-logo">
          <a href="#" class="logo-link">
            <img src="img/logo.svg" alt="Starter theme logo">
            <h1 class="site-title">StarterTheme</h1>
          </a>
        </div>
        <nav class="main-menu-items">
          <ul class="menu-item">
            <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-41 main-menu-list js-menu-with-sub">
                <a><span>Menu</span></a>
              <ul class="sub-menu js-sub-menu">
                <li class="menu-item is-active">
                  <a href="/">
                    Home
                  </a>
                </li>
                <li class="menu-item">
                  <a href="3-4-columns.html">
                    3-4-columns
                  </a>
                </li>
                <li class="menu-item">
                  <a href="404.html">
                    404
                  </a>
                </li>
                <li class="menu-item">
                  <a href="#">
                    Blog
                  </a>
                  <ul class="sub-menu js-sub-menu">
                    <li class="menu-item">
                      <a href="blog-article-centered.html">
                        blog-article-centered
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="blog-article-list.html">
                        blog-article-list
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="blog-article-list-with-side-bar.html">
                        blog-article-list-with-side-bar
                      </a>
                    </li>
                    <li class="menu-item">
                      <a href="blog-article-right-column.html">
                        blog-article-right-column
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="cards.html">
                    cards
                  </a>
                </li>
                <li class="menu-item">
                  <a href="empoloyees.html">
                    empoloyees
                  </a>
                </li>
                <li class="menu-item">
                  <a href="factbox.html">
                    factbox
                  </a>
                </li>
                <li class="menu-item">
                  <a href="faq.html">
                    faq
                  </a>
                </li>
                <li class="menu-item">
                  <a href="fixed-bg-photo.html">
                    fixed-bg-photo
                  </a>
                </li>
                <li class="menu-item">
                  <a href="gallery.html">
                    gallery
                  </a>
                </li>
                <li class="menu-item">
                  <a href="hero.html">
                    hero
                  </a>
                </li>
                <li class="menu-item">
                  <a href="hero-white.html">
                    hero-white
                  </a>
                </li>
                <li class="menu-item">
                  <a href="img-txt.html">
                    img-txt
                  </a>
                </li>
                <li class="menu-item">
                  <a href="img-txt-no-bg.html">
                    img-txt-no-bg
                  </a>
                </li>
                <li class="menu-item">
                  <a href="newsletters.html">
                    newsletters
                  </a>
                </li>
                <li class="menu-item">
                  <a href="quotes.html">
                    quotes
                  </a>
                </li>
              </ul>
            </li>
            <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-42 main-menu-list">
              <a href="search-results.html">
                <span>Search results</span>
              </a>
            </li>
            <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-43 main-menu-list">
              <a href="styleguide.html">
                <span>Styleguide</span>
              </a>
            </li>
          </ul>
          <div class="header-search">
                        <span class="search-icon">
                            <svg class="icon">
                <use xlink:href="build/spritemap.svg#search"></use>
              </svg>
                        </span>
            <form class="main-search">
              <label for="search">
                <input class="search-input" placeholder="Search" type="search" name="s" id="search">
              </label>
              <a class="search-submit" type="submit">
                <svg class="icon search-arrow">
                  <use xlink:href="build/spritemap.svg#search-arrow" class="search-arrow-1"></use>
                </svg>
              </a>
            </form>
          </div>
          <div class="language-selector">
            <div class="js-lang-btn">
              <svg class="icon" width="18" height="18">
                <use xlink:href="build/spritemap.svg#earth"></use>
              </svg>
              <span>PL</span>
            </div>
            <div class="lang-dropdown js-lang-dropdown">
              <ul>
                <li class="is-active">
                  <a href="#">
                    Polski
                  </a>
                </li>
                <li>
                  <a href="#">
                    Português
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-toggle menu-toggle--only-mobile">
            <div class="svg-hamburger">
              <svg viewBox="0 0 800 600">
                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                    id="top"></path>
                <path d="M300,320 L540,320" id="middle"></path>
                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                    id="bottom"
                    transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
              </svg>
            </div>
          </div>
        </nav>


      </div>
    </div>
  </div>

  <nav class="main-nav">
    <div class="navigation">
      <div class="container">

        <ul class="menu-item">
          <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-41 main-menu-list">
            <div class="h4 main-item">
              <a><span>Menu</span></a>
            </div>
            <ul class="sub-menu js-sub-menu">
              <li class="menu-item">
                <a href="#">
                  A service with a longer text
                </a>
              </li>
              <li class="menu-item is-active">
                <a href="#">
                  Service active subpage
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  Service C
                </a>
                <ul class="sub-menu js-sub-menu">
                  <li class="menu-item">
                    <a href="#">
                      Service C1
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      Service C2
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      Service C3
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-42 main-menu-list">
            <div class="h4 main-item">
              <a href="/">
                <span>Home2</span>
              </a>
            </div>
          </li>
          <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-43 main-menu-list">
            <div class="h4 main-item">
              <a href="/">
                <span>Home3</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</header>