<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,follow">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Styleguide - StarterX">
  <meta property="og:url" content="styleguide/">
  <meta property="og:site_name" content="StarterX">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Styleguide - StarterX">
  <title>Styleguide - StarterX</title>

  <link rel="stylesheet" id="wp-block-library-css"
    href="https://cdn.jsdelivr.net/npm/@wordpress/block-library@2.4.0/build-style/style.css" type="text/css"
    media="all">
  <link rel="stylesheet" id="Section-Row-css"
    href="https://cdn.jsdelivr.net/npm/@frontkom/section-row@0.0.7/build/style.css?ver=0.0.7" type="text/css"
    media="all">
  <link rel="stylesheet" id="ddd"
    href="https://cdn.jsdelivr.net/npm/@frontkom/g-hero-section@0.7.5/build/style.css?ver=0.7.5" type="text/css"
    media="all">
  <link rel="stylesheet" id="Section-Columns-css"
    href="https://cdn.jsdelivr.net/npm/@frontkom/g-content-in-columns@0.4.5/build/style.css?ver=0.4.5" type="text/css"
    media="all">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@frontkom/starterx-quote-background@2.0.0/build/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@frontkom/starterx-employees@1.2.1/build/style.css">

