<ul class="pagination">
  <li class="pagination__item nav first">
    <a class="pagination__link" href="#!">
      <img class="line" src="./img/svg/line.svg" alt="line">
      <img class="arrow arrow--left" src="./img/svg/arrow.svg" alt="arrow">
    </a>
  </li>
  <li class="pagination__item nav previous">
    <a class="pagination__link" href="#!">
      <img class="arrow arrow--left" src="./img/svg/arrow.svg" alt="arrow">
    </a>
  </li>
  <li class="pagination__item active">
    <span class="pagination__link">1</span>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#!">2</a>
  </li>
  <li class="pagination__item">
    <a class="pagination__link" href="#!">3</a>
  </li>
  <li class="pagination__item pagination__item--sm-hidden">
    <a class="pagination__link" href="#!">4</a>
  </li>
  <li class="pagination__item pagination__item--sm-hidden">
    <a class="pagination__link" href="#!">5</a>
  </li>
  <li class="pagination__item dots">
    <a class="pagination__link" href="#!">...</a>
  </li>
  <li class="pagination__item nav next">
    <a class="pagination__link" href="#!">
      <img class="arrow arrow--right" src="./img/svg/arrow.svg" alt="arrow">
    </a>
  </li>
  <li class="pagination__item nav last">
    <a class="pagination__link" href="#!">
      <img class="arrow arrow--right" src="./img/svg/arrow.svg" alt="arrow">
      <img class="line" src="./img/svg/line.svg" alt="line">
    </a>
  </li>
</ul>