<div class="search-post">
  <div class="search-post__title">
    Coal a combustible sedimentary rock formed in coal seams
  </div>
  <a class="search-post__link" href="#">https://domain.com/category...</a>
  <div class="search-post__excerpt">
    Are we in agreeance programmatically we want to empower the team with the right tools and guidance to
    uplevel our craft and build better yet ladder up / ladder back to the strategy...
  </div>
</div>