

<!DOCTYPE html>
<html lang="no" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link media="all" rel="stylesheet" href="../../css/main.css">
    <title>Checkbox | Preview Layout</title>
</head>
<body class="">

<div class="row-space-small"><label class="input-checkbox input-checkbox__label">
  <input
    type="checkbox"
    name="checkbox"
    value="checkbox-value"
    
  >
  <span class="input-checkbox__icon"></span>
  <span class="input-checkbox__desc">Checkbox label</span>
</label></div>
<div class="row-space-small"><label class="input-checkbox input-checkbox__label">
  <input
    type="checkbox"
    name="checkbox"
    value="disabled-checkbox"
    disabled="disabled"
  >
  <span class="input-checkbox__icon"></span>
  <span class="input-checkbox__desc">Checkbox label</span>
</label></div>
<div class="row-space-small"><label class="input-checkbox input-checkbox__label">
  <input
    type="checkbox"
    name="checkbox"
    value="checked-checkbox"
    checked="checked"
  >
  <span class="input-checkbox__icon"></span>
  <span class="input-checkbox__desc">Checkbox label</span>
</label></div>
<div class="row-space-small"><label class="input-checkbox input-checkbox__label">
  <input
    type="checkbox"
    name="checkbox"
    value="disabled-checked-checkbox"
    checked="checked" disabled="disabled"
  >
  <span class="input-checkbox__icon"></span>
  <span class="input-checkbox__desc">Checkbox label</span>
</label></div>

   <script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  
</body>
</html>
